html,
body {
  margin: 0;
  overflow: hidden;
}

.landing-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  width: 100vw;
  overflow: hidden;

  background:
  linear-gradient(
    180deg,
    #8ed8ff 0%,
    #70c7ff 45%,
    #58b8ff 75%,
    #338ee9 100%
  );
}

.landing-page::before {
  content: "";
  position: absolute;
  inset: -20%;

  background:
    radial-gradient(circle, rgba(255, 255, 255, 0.05), transparent 35%),
    radial-gradient(circle, rgba(255, 0, 0, 0.08), transparent 25%);

  filter: blur(80px);
  animation: aurora 14s ease-in-out infinite alternate;
  pointer-events: none;
}

.landing-page__game-container {
  position: relative;
  z-index: 2;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.landing-page__canvas {
  width: min(78vw, 930px);
  max-height: 90vh;
  height: auto;
  aspect-ratio: 16 / 10;
  background: #050316;
  border: 2px solid rgba(255, 255, 255, 0.08);
  border-radius: 16px;

  box-shadow:
    0 0 40px rgba(123, 97, 255, 0.35),
    0 0 100px rgba(255, 0, 0, 0.15);

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.landing-page__canvas:hover {
  transform: translateY(-4px);

  box-shadow:
    0 0 55px rgba(123, 97, 255, 0.45),
    0 0 120px rgba(255, 0, 0, 0.22);
}

.landing-page__footer {
  position: absolute;
  bottom: 0.2rem;
  left: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 2rem;
  pointer-events:visible;
}

.landing-page__footer img {
  width: clamp(140px, 14vw, 240px);
  height: auto;
  opacity: 0.9;
  transition: transform 0.3s ease;
  
}

.landing-page__footer img:first-child {
  transform: scaleX(-1);
  /* squirtle */
}

.landing-page__footer img:last-child {
  /* pikachu */
}
.landing-page__footer--pipe {
  transform: translateY(95px);
}

@keyframes aurora {
  from {
    transform: translate(-8%, -4%) rotate(0deg);
  }

  to {
    transform: translate(8%, 6%) rotate(20deg);
  }
}

@media (max-width: 1020px) {
  .landing-page__footer {
    display: none;
  }

  .landing-page__canvas {
    width: 92vw;
    max-height: 70vh;
  }
}